@charset "utf-8";
.pane{
	margin-top:125px;
	float: left;
	&.main{width:70%;}
	&.side{width:30%;}
	&.full{width:100%;}


	.overhang{
		position:absolute;
		width:25%;
		right:0;
	}
}


.miniPane{
	float: left;
	&.main{width:70%;}
	&.side{width:30%;}
	&.full{width:100%;}
}