<div class="pane main">
	<div class="menu pulled">
		<p>events</p>
	</div>
	<section class="eventslist push-half--top">
		<div ng-repeat="event in dashboardEvents" class="eventslist__event one-whole soft--ends">
			<div class="one-whole">
				<div class="one-half float--left">
					<a href="#/event/{{event._id}}"><h4 class='push-half--bottom'>{{event.name}}</h4></div></a>
					<div class="one-half float--left">
						<p class="text--right push-half--bottom"><span ng-repeat="date in event.dates">{{date | date:medium }}{{$last ? '' : ', '}}</span></p></div>
					</div>

					<div tabs tabsdata='event.eventStages' autorotate='1000'>
						<div tabsnav ></div>
						<div tabscontent>
							<div class="tasklist  one-whole float--left">
								<div class="currentStage yellow soft-half">
									<h4 class="flush--bottom">{{tab.name}}</h4>
								</div>

								<div class="task push--ends">
									<h4 ng-repeat="tasks in tab.stageItems" class="tasklist__item circle alert">{{tasks}}</h4>

								</div>
							</div>
						</div>
					</div	>
				</div>
			</section>

		</div>
		<div class="pane side soft--left">
			<div class="menu"></div>
		</div>