<div class="pane full">
	<div class="menu pulled miniPane">
		<p>create a new event</p>
	</div>

	
	
		
	<section class="eventTypeForm one-whole">
		<div class="miniPane main">
		<h1>Event Type: {{chosenEventType || 'Lecture'}}</h1>
		<h4>What kind of event are you planning?</h4>
		<event-type-grid></event-type-grid>
		</div>
		<div class="miniPane side soft" style="margin-top:95px">
			<p class=""></p>
		</div>

	</section>



	<form name="standardEventForm" class="standardEventForm one-whole float--left" ng-submit="submitForm()" novalidate>
		<h1 class="push--top flush--bottom">General Details</h1>
		<div class="form-group standard">
			<label class="flush--top">What is the name of your event?</label>
			<input name="name" ng-model="name" type="text" blur-focus required>
			<p ng-show="standardEventForm.name.$invalid && !standardEventForm.name.$pristine" class="help-block">The name of the event is required.</p>

		</div>
		<div class="form-group standard">
			<label for="">Can you give a brief description of the event?</label>
			<textarea blur-focus ng-model="event.description"></textarea>
		</div>

		<div class="form-group standard">
			
			<repeat-event></repeat-event>
		</div>
		<div class="form-group location">
			<label for="">Where is the event on?</label>
			<div>
			<div class="locList">
				<location locId="0"></location>
			</div>
			<add-location></add-location>

			</div>
		</div>
		<div class="form-group staff">
			<label>Who is in involved in the event?</label>
			<add-staff></add-staff>
		</div>
    </form>
    


<section class="float--left">
	<div date-picker="start"></div>
		<h1>Dates</h1>
		<li ng-repeat="date in locationList" 
		>{{date}}</li>


</section>


	


	 


</div>
